<form method="get" action="/answer">
  <p>Hello, i'm your coach</p>
  <div class="input-group mb-3">
    <input type="text" name="question" value="<%= params[:answer] %>" placeholder="What do you want ?">
    <input type="submit" value="Ask !" class="btn btn-primary">
  </div>
</form>
